@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base{
    :root{
        --mainBlog: rgb(210, 233, 250);
        --mainBg: rgb(255, 255, 255);
        --darkText: #111;
        --lightText: #ffffff;
        --prim: rgb(53, 165, 251);
    }
} */

@layer base {
  :root {
    --mainBlog: 210 233 250;
    --mainBg: 255 255 255;
    --darkText: #111;
    --lightText: #ffffff;
    --prim: 53 165 251;
  }
  /* @media (prefers-color-scheme: dark) {
    :root {
      --mainBlog: 16 53 82;
      --mainBg: 5 29 56;
      --darkText: #ffffff;
      --lightText: #111;
      --prim: 53 165 251 0.4;
    }
  } */
  :root[data-theme="dark"] {
    --mainBlog: 16 53 82;
    --mainBg: 5 29 56;
    --darkText: #ffffff;
    --lightText: #111;
    --prim: 53 165 251;
  }
}

/* .PO{
  background: rgba(255,255,64,0.07);
  color: rgba(127,255,127,0.07);
  background: rgba(127,255,127,0.07);
  background: rgba(255,127,255,0.07);
  background: rgba(79,236,236,0.07);   
} */
/* .PO{
  background: rgba(255,255,64,);
  color: rgba(127,255,127);
  background: rgba(127,255,127,);
  background: rgba(255,127,255,);
  background: rgba(79,236,236,);   
} */
